body{
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.bg-image {
  /* The image used */
  background-image: url("hero.png");
  /* Full height */
  height: 800px;
  width: 1510px;
  padding-right: 300px;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}
.Bname{
  position: absolute;
  left: 230px;
}
.directives{
  word-spacing: 30px;
  text-align: center;
  padding-top: 6px;
  color: white;
}
.login{
  position: absolute;
  left: 1000px;
  top: 15px;
}
.member{
  position: absolute;
  left: 1050px;
  top: 25px;
}
.member>button{
  padding: 8px 20px;
  background-color: #23A6F0;
  color: white;
  border: 3px;
  border-radius: 4px;
}
.ensure{
  font-size: 200%;
  text-align: center;
  padding-left: 340px;
  padding-top: 140px;
}
.para1{
  text-align: center;
  padding-left: 250px;
  font-size: 120%;
}
.quote{
  padding-left: 560px;
  padding-top: 30px;
}
.quote>button{
  padding: 13px 20px;
  background-color: #23A6F0;
  color: white ;
  border: 0px;
  border-radius: 20px;
}
.learn{
  border: 0px;
  position: absolute;
  left: 800px;
  top: 530px; 
}
.learn>button{
  padding: 12px 1px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 20px;
}
.icon1{
  background-color: white;
  height: 180px;
  width: 250px;
  padding: 20px;
  color: black;
  position: absolute;
  top: 750px;
  left: 190px;
}
/*end of div2 (*/
.rec{
  background-color: rgb(238, 238, 238);
  height: 200px;
  width: 1510px;
}
.square1{
  background-color: white;
  height: 180px;
   width: 280px;
   position: absolute;
   top: 750px;
   left: 200px;
   padding: 20px;
}
.square2{
  background-color: white;
  height: 180px;
  width: 280px;
  position: absolute;
  top: 750px;
  left: 550px;
  padding: 20px;
}
.square3{
  background-color: #23A6F0;
  height: 180px;
  width: 280px;
  position: absolute;
  top: 750px;
  left: 900px;
  padding: 20px;
}
/*end of div2(rec)*/
.sqicon1{
  background-color: white;
  height: 210px;
  width: 280px;
  position: relative;
  padding: 20px;
  top: 140px;
  left: 230px;
  text-align: center;
}
.sqicon2{
  background-color: white;
  height: 210px;
  width: 280px;
  position: relative;
  padding: 20px;
  top: -70px;
  left: 550px;
  text-align: center;
}
.sqicon3{
  background-color: white;
  height: 210px;
  width: 280px;
  position: relative;
  padding: 20px;
  top: -250px;
  left: 900px;
  text-align: center;
}
/*end div3 (icons)*/
.industry{
  background-color: rgb(243, 241, 241);
  width: 1512px;
  position: absolute;
  top: 1500px;
}
.head{
  text-align: center;
  padding-top: 140px;
}
.user1{
  background-color: white;
  height: 390px;
  width: 300px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding-top: 35px;
  position: relative;
  left: 200px;
  top: 80px;
}
.user2{
  background-color: white;
  height: 390px;
  width: 300px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding-top: 35px;
  position: relative;
  left: 600px;
  top: -310px;
}
.user3{
  background-color: white;
  height: 390px;
  width: 300px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding-top: 35px;
  position: relative;
  left: 1000px;
  top: -700px;
}
.vector1{
  position: absolute;
  top: 1050px;
  left: 180px;
}
.vector2{
  position: absolute;
  top: 1050px;
  left: 400px;
}
.vector3{
  position: absolute;
  top: 1010px;
  left: 580px;
}
.vector4{
  position: absolute;
  top: 1040px;
  left: 780px;
}
.vector5{
  position: absolute;
  top: 1050px;
  left: 1000px;
}
.vector6{
  position: absolute;
  top: 1020px;
  left: 1200px;
}
.rectangle{
  height: 90px;
  width: 1100px;
  color: white;
  background-image: linear-gradient(to right, rgb(69, 16, 212) , rgb(189, 48, 102));
  position: absolute;
  top: 1200px;
  left: 180px;
  padding-left: 30px;
  padding-top: 10px;
}
.subc{
  position: absolute;
  top: 1220px;
  left: 550px;
   }
   input{
     height: 40px;
     width: 210px;
     border-radius: 3px;
    position: relative;
    left: 260px;
    top: 10px;
   }
     .subc.p0{
     background-color: lightblue;
     color: white;
     height: 39px;
     width: 90px;
     border-radius: 5px;
     text-align: center;
     padding-top: 10px;
     position: relative;
     top: -44px;
     left: 460px;
   }
   .price2{
     text-align: center;
     color: rgb(34, 33, 48);
     position: relative;
     top: -50px;
   }
   .mobiles{
     position: relative;
     left: 250px;
   }
   .free{
     background-color: white;
     width: 300px;
     height: 500px;
     text-align: center;
     padding-top: 10px;
     border: 1px solid #23A6F0;
     border-radius: 10px;
   }
     ul {
    list-style: none;
    text-align: start;
    position: relative;
    left: 70px;
    line-height: 40px;
     }
     ul li::before {
        content: "\2022";
        color: rgb(31, 202, 16);
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -6em;
     }
     button{
       background-color: #23A6F0;
       height: 40px;
       width: 200px;
       color: white;
       border: 0px;
       border-radius: 5px;
     }
     .standard{
      background-color: rgb(10, 4, 37);
      width: 300px;
      height: 530px;
      text-align: center;
      padding-top: 10px;
      border: 1px solid #23A6F0;
      border-radius: 10px;
      color: white;
      position: relative;
      left: 300px;
      top: -530px;
    }
      ul {
     list-style: none;
     text-align: start;
     position: relative;
     left: 70px;
     line-height: 40px;
      }
      ul li::before {
         content: "\2022";
         color: rgb(31, 202, 16);
         font-weight: bold;
         display: inline-block; 
         width: 1em;
         margin-left: -6em;
      }
      button{
        background-color: #23A6F0;
        height: 40px;
        width: 200px;
        color: white;
        border: 0px;
        border-radius: 5px;
      }
      .premium{
        background-color: white;
        width: 300px;
        height: 500px;
        text-align: center;
        padding-top: 10px;
        border: 1px solid #23A6F0;
        border-radius: 10px;
        color: rgb(8, 1, 1);
        position: relative;
        left: 600px;
        top: -1030px;
      }
        ul {
       list-style: none;
       text-align: start;
       position: relative;
       left: 70px;
       line-height: 40px;
        }
        ul li::before {
           content: "\2022";
           color: rgb(31, 202, 16);
           font-weight: bold;
           display: inline-block; 
           width: 1em;
           margin-left: -6em;
        }
        button{
          background-color: #23A6F0;
          height: 40px;
          width: 200px;
          color: white;
          border: 0px;
          border-radius: 5px;
        }