body{
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.bg-image {
  /* The image used */
  background-image: url("hero.png");
  /* Full height */
  height: 800px;
  width: 1510px;
  padding-right: 300px;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}
.Bname{
  position: absolute;
  left: 230px;
}
.directives{
  word-spacing: 30px;
  text-align: center;
  padding-top: 6px;
  color: white;
}
.login{
  position: absolute;
  left: 1000px;
  top: 15px;
}
.member{
  position: absolute;
  left: 1050px;
  top: 25px;
}
.member>button{
  padding: 8px 20px;
  background-color: #5ca9dd;
  color: white;
  border: 3px;
  border-radius: 4px;
}
.ensure{
  font-size: 200%;
  text-align: center;
  padding-left: 340px;
  padding-top: 140px;
}
.para1{
  text-align: center;
  padding-left: 250px;
  font-size: 120%;
}
.quote{
  padding-left: 560px;
  padding-top: 30px;
}
.quote>button{
  padding: 13px 25px;
  background-color: rgb(64, 163, 230);
  color: white ;
  border: 0px;
  border-radius: 20px;
}
.learn{
  border: 0px;
  position: absolute;
  left: 720px;
  top: 530px; 
}
.learn>button{
  padding: 12px 30px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 20px;
}
.icon1{
  background-color: white;
  height: 180px;
  width: 250px;
  padding: 20px;
  color: black;
  position: absolute;
  top: 750px;
  left: 190px;
}
.rec{
  background-color: rgb(238, 238, 238);
  height: 200px;
  width: 1510px;
}
.square1{
  background-color: white;
  height: 180px;
   width: 280px;
   position: absolute;
   top: 750px;
   left: 200px;
   padding: 20px;
}
.square2{
  background-color: white;
  height: 180px;
  width: 280px;
  position: absolute;
  top: 750px;
  left: 550px;
  padding: 20px;
}
.square3{
  background-color: rgb(92, 164, 212);
  height: 180px;
  width: 280px;
  position: absolute;
  top: 750px;
  left: 900px;
  padding: 20px;
}
.sqicon{
  
}